%table.table.table-striped
  - current_user.master_entries_by_pupil(pupil).each do |entry|
    %tr
      %td= entry.user.name
      %td= entry.description
      %td
        - if current_user == entry.user
          = link_to '削除', entry_path(entry, params: {role: 'master'}), :method => :delete, :data => { :confirm => '削除してもよろしいですか？' }

%br

= link_to '新規書き込み', new_entry_path(params: {master_id: current_user.id, pupil_id: pupil.id, role: 'master'}), remote: true
#new-entry
