%table.table.table-striped
  - current_user.master_entries_by_pupil(pupil).each do |entry|
    %tr
      %td= entry.user.name
      %td= entry.description
      %td
        - if current_user == entry.user
          = link_to '削除', master_entry_path(entry), :method => :delete, :data => { :confirm => '削除してもよろしいですか？' }

%br

= link_to '新規書き込み', new_master_entry_path(params: {pupil_id: pupil.id})
