/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
*/

input.ui-input-text {
  height: auto;
}

input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
  width: 100%;
}

.objective_table td {
  width: auto;
}

.ui-page {
  position: static !important;
}

.ui-mobile-viewport {
  margin: 0 auto;
}

body {
  padding: 0;
}