/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
*/

body {
  padding-top: 60px;
}

.users_table table {
  width: 40%;
}

.float_r {
  float: right;
}

.objective_table td {
  width: 50%;
}

.tipped {
  color: #BBB !important;
}

.entry_form input, textarea {
  width: auto;
}