- if @pupil
  %div{id: "view_order_0"}
    %h3
      .sub-title
        あなたの弟子: 
      = @pupil.name
    %div.entry-elem
      = render partial: 'entries/index', locals: { entries: current_user.entries_by_pupil(@pupil) }
      = render partial: 'entries/form', locals: { master_id: current_user.id, pupil_id: @pupil.id }
- else
  %h4
    現在、弟子はいません。
