- if @pupil
  %h2
    = link_to "弟子: #{@pupil.name}", user_path(@pupil)
  = render partial: 'entries/index', locals: { entries: current_user.master_entries_by_pupil(@pupil) }
  = render partial: 'entries/form', locals: { master_id: current_user.id, pupil_id: @pupil.id }
- else
  %h4
    現在、弟子はいません。
