%h1 解決した問題一覧

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th 名前
      %th 問題
      %th コメント
  %tbody
    - @questions.each do |question|
      %tr
        %td= question.user.name
        %td= question.content
        %td
          - question.comments.each do |comment|
            %ul
              %li
                = comment.user.name if comment.user != current_user
                = comment.content
